@font-face {
    font-family: 'Arturo';
    src: url('Arturo-Regular.woff2') format('woff2'),
        url('Arturo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Special Elite (Rus by Lomzz)';
    src: url('SpecialEliteRusbyLomzz-Regular.woff2') format('woff2'),
        url('SpecialEliteRusbyLomzz-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
